<div class="container">
  <div class="card text-center m-3 mb-4">
    <div class="card-header">
      <h4>
        <i class="fa-solid fa-diagram-project"></i>Diagram primerov uporabe
      </h4>
    </div>
    <div class="card-body">
      <!-- ZAČETEK: Diagram primerov uporabe -->
      <img
        src="https://teaching.lavbic.net/plantuml/png/ZLRRJjj047sklsALlbaARvMg2Y5HBY8gK5HIAbLvcTYJP6DdrzfTXqBB9_0H_0lyL_TcUtqXoWiYC-UScPsP7Q_CA2j0m8RC8ScMWfSiJNZE1L42cDGkP2gIDIh51PIvck8VTPpJ9TjeDqdq7nG1gfIOW4JoDoA1xedLlLzHXSREHOh2sJv-El_w-Un4Mq48Vk-CyrmpewT05XB5nTU0vo1Tm6301iIusftPWZFbQh0Ky52d6fYUeYZ7XIAA4q6NAqLIAZ1HbBCeKdo9QeN2Xh09aPy55p1dDAijenj1rx3DryXchApS8mAID9vzQJFsICwc5qH0KZA-iIhwTqFN_05LChQvZ_yTjH8CcOCGVNYVpHGXML6sdB7ZcuaDMrdqRm-wHIQHLeplXSdy2XLoY_-5O6hLm4VwtncxfcmDqY9Eg7emxiWK6DWoHp8w_p4Xz357PMlsrvolchXH7Dy8rAWqZcSiZgK2HQMY6PhVMw9WZZdrXRQusnhHblcUweA1OTM51ijpZheUy6xqb1UbL7mRHZlrjWw9R_7r6TOkPpwdCWF6fR8gg9DZaD0rkl36k-F4ASzASoij8uxRmGFN3ecjG0s3DldE6TkqIvuPCHZYLRvTWRGzuzjE86VSGMFm-YoK3KhPWekDYICpd361RozKRJ7KkuP4WoUtRK4RfQguBCmmSVS3YfpQpBdFoqExBPFvcZf6mLDGRiAusvkGQRuVC-kaUyzeqszBhyUpKyV9uvoAkkvIeUz-CorLzje9fusvBNEgirjtgTN1hREXSdFHMkkjSoPQ27zbubZe7fN133dV3xEYeCsiV2sMkQjnV36zkXnKk3CUAsF_33Z9EENtp6okNkodtiBGrNsiModutDmztrkxPu9ZQEHDWvbORrlERGPVXeo_lO2WYMsFAeLfvUipeokzj87H3TqQ6IlkUT-uj8If0oSQ-xj1xfrv4mlxeNhdg8DX6CjzDuPEJ0xAuk2ekzI-aCD3_J10bXuTxS7jzym8K9RaPOh32eDvUi6zwaSwEJRNowjqPxwNazy6rIdSxUwXzal6QTYDte_JkRSU72JSEie7MwxMmYFZid0NO73xL_kv0slslFdI1q-1SQ_VmzxWW_eEEynZ45BbCEpqtuUe_LBHW6fHLoqoDl_-gFfaJE4Z9Oe6NqRZFSVfNNRlaV0UCDZlqPxZtZr3kouzTzDdxQYUK-r2MrVm5Wk6hAlcXhLhxTsQ3k0_"
        class="mt-4 mb-4"
      />
      <!-- KONEC: Diagram primerov uporabe -->
    </div>
  </div>

  <div class="card text-center m-3 mb-4">
    <div class="card-header">
      <h4>
        <i class="fa-solid fa-diagram-project"></i>Razredni diagram
      </h4>
    </div>
    <div class="card-body">
      <!-- ZAČETEK: Razredni diagram -->
      
      <img
        src="https://teaching.lavbic.net/plantuml/png/dLPVS-8s47_tfz0q3oL3mENQJ5DF9ZT9e3bwQSW4CjEtZh0N40Z99yc-GdjVhM_zNbtP1il6z4WVCB2xlvzM-zTwnKHC5LsJa5EjoPyU8LCQhkPA9YAwbrmgydd135YvL16eN7Ps-VFTrU0UfLGf-JaNJZaYlI-Uhf9UNqyj6LMRcvl60yvcxsOXNDMF-26w-h7thealbC8eoO_I8TaXtK_Gk-nTDj61CCmSTGwkPfUpi88Jqi39ePehka7H37sk20pyOIXdSx76yqc83r2LKqhoCCCPHOL65Lfw2nO12PaAENZVbX3E19XD34Ggiv2UTvybTMmKR0LRaNhaEeJ6R1GR9eKc0HbDbn0Qb7UxNQljuEECf4gm9xfbwTWwi8AMphxfC0e84-Q2n39Lr0ZsaRCm8BD4X9RmV0_kgorDvTlHkHTjyZ2O185FMbkwC93IW7mm9dw1JmbenCjeBbEfTb8TurtWt06kfAQAXTGFM3JIQzBAlehJtyXPTKd6JFzljmGDbNapsZhmPPTN67Cv9mVjrIOfsoPOMbkcw3B0OfGSgAYZ7-b69gO9lgNQq1H35X3C5XFpEdHaB-u2TufdnPOqfOUa7J8UF8q7mvVR-zSdXxP37eQJ3wztX_9dgVcInJAYPWKLJQnO9AUDgZbeBcrguyJyRXiiAy8rnbG6DQ76i3Ck8y4Ex6Ef6LzI0tpP1q6nX6qeQaQHn0pYRNSAB2UOOmVR05AiyHKgeRcdiYkiw3z_irJ16bfbPMMqDci3im05oRfrNaXZoGMRq2bmsSzFBbHn7l8TOEUmozhEpzjcfmdQEYYaCOu7d1uDMJkMdIdLyFhowCZE25j3BKfjeZFcFYQ0PKu7v9VnwEbMvIEmCcVwcCzbjBUKnVsUCzTPNP53oojCW8OBzEJsUNXuZ-jiW0PsyDuiiADquFkc07GvJQSixEBWz4V3iJ-bM-hll6fdlPfN6lFjCFDJpLh3_kxYv_c5zba-13Z65sJ5bqbu5Flywc3fDb6s4exZBmXmcr2JbGNi6nrvKyaYozWVF0ucWv9qgfZ-RuyoP5aOMTEU5b0DEAEO4yuyYCxG0F4h690dfmYNKrSYghEsi6uerzMy-6dFdqa58SwhzorEJNajBaNvnstrfj3lNKJF11DBga_t3p-T7DFiNuXl5kzRltLkqUuZR4gdi2tWA-uKRMFt8QczfRG9xZ2Mxz2yUqhR2Ru031tL0qWCeDgKiZPvSawlJuEXm288uH7V9GwFTPJk6OMu53Kn7cLpcUuJ7DPhKAwtXLaVHt90x3EJtZ7ERST7aGAj3s-pV-tvXf1UjziZ-AEJn9qRA_Ykstrd1TaEzV9DQfL_tHIBiGglOpE1NODUjWlVWFpU2eezwUtsPHLVa-PDM9Sw0w-kSZkjhjkN-0dtozU2Lso7sXqhGjSPpwsVd4rOzfmx8tQAjT6wPbwOU0qkLnrsURzcwvnxgks_"
        class="mt-4 mb-4"
      />
      
      <!-- KONEC: Razredni diagram -->
    </div>
  </div>

  <div class="card text-center m-3 mb-4">
    <div class="card-header">
      <h4>
        <i class="fa-solid fa-diagram-project"></i>Diagram zaporedja
      </h4>
    </div>
    <div class="card-body">
      <!-- ZAČETEK: Diagram zaporedja -->
      
      <img
        src="https://teaching.lavbic.net/plantuml/png/pLB1Jjj04BtlLup2XJWkKK6LAYGg0IqIfIf8fRqqFOpjIJAsC-kkrm6buW_QVsX_X1FvhuvjaXXK2OwzhBnlthptnZjJJWZ6rlh8NXjJPYm5Efn1X74sSRQI9BQvTU0TIgab4jzX9JJ6AlUNTEqFSvx8JCiGwq6kmyBOgy8F0n1Pbv0xRXIZN2rgREtKubTJzcHkkltEsQjkqwPKqlUA9AP6FUSnVM2XeuxBrgkJezVlZhMg3PvZBb3yquGdCudrhUc_upySDK6NEKeK7LlnyGFinfZs__Gk7ASuprEIaLI5THW9Ppt04ZwlRiPqGa9llwI5uApXdEy-gbqInbEM2HnUdBQCFMC-rh7jd9poOH_UVz8SNh4CHn84hTnEMWQ16ROZjjmzvPvKaiLi1NEnfUUH248GT5s2e17nZfQt6hPIbNesdgCARMPOVy6BDtMCmS3ekVfM9_qH6IvqCTL6CEQKjliZAQn6pVZhDzW_WFlBSEv4ZvAt8rnWFnp9S5ZKtSjR1cyBw6Z076oKSyOroMD4EK49fRTv4JDiXN0weqRWJEDERFqO8In_-nr8r4pIHo67G_WYL3BmZ40mpTCgMlwX1uxRMcj3mPawAmqcrIo2tbjLJ7kF51jmqswVEVHAPM-Lw-udWPhNOOHrQcLn3SIwfFxWPPCdSTK4xtxTWuE1Wh3MnqNbs67Qw8V0IRWgzP_nKk5_y5GceVNYwTftRxlTsteL_m80"
        class="mt-4 mb-4"
      />
      <!-- KONEC: Diagram zaporedja -->
    </div>
  </div>
</div>