<div class="container">
  <div class="card text-center m-3 mb-4">
    <div class="card-header">
      <h4>
        <i class="fa-solid fa-pencil"></i>Opis ideje, ki jo nova
        funkcionalnost podpira
      </h4>
    </div>
    <div class="card-body">
      <!-- ZAČETEK: Opis ideje, ki jo funkcionalnost podpira -->
       <p>
        <strong>Neprijavljeni uporabnik oz. gost</strong> lahko na strani za prijavo vpiše kraj in število dni in se mu tako prikaže <strong>grafikon</strong>, ki
        prikazuje vremensko napoved za izbran kraj. Poleg tega pa se lahko prijavi z uporabo ETH denarnice in všečka spletno stran tako, da lastniku spletne aplikacije
        donira izbrano število ETH.
      </p>
      <p>
        <strong>Prijavljeni uporabnik</strong> pa lahko poleg tega še dodatno med brskanjem po seznamu turističnih znamenitosti in dodajanju le teh
        v košarico, vidi katere so <strong>največkrat dodane destinacije</strong> po kategorijah oz. skupaj in si tako lažje izbere, kam bi se odpravil. Povrhu vsega
        tega pa tudi lahko sam <strong>doda svojo najljubšo destinacijo</strong>.
      </p>
      
      <!-- KONEC: Opis ideje, ki jo aplikacija podpira -->
    </div>
  </div>

  <div class="card text-center m-3 mb-4">
    <div class="card-header">
      <h4>
        <i class="fa-solid fa-pencil"></i>Uporabljeni zunanji viri podatkov
      </h4>
    </div>
    <div class="card-body">
      <!-- ZAČETEK: Uporabljeni zunanji viri podatkov -->
      <p class="mb-0">
        <p>Za <strong>pridobitev zemljepisne dolžine in širine</strong> kraja, ki ga uporabnik vpiše na strani za prijavo, sem uporabil <a href="https://api-ninjas.com/api/city" target="_blank"><i class="fa-solid fa-earth-europe"></i>
        API Ninjas</a>.</p>
        Za <strong>prikaz podatkov o vremenu</strong> sem uporabil <a href="https://open-meteo.com/en/docs" target="_blank"><i
            class="fa-solid fa-earth-europe"></i>Weather Forecast API</a>. S tem sem želel prijavljenemu uporabniku olajšati načrtovanje potovanja, saj mu
        prikažem vremensko napoved za izbrani kraj za določeno število dni vnaprej.
      </p>
      
      <p>
        Za možnost <strong>všečkanja spletne aplikacije</strong> na podlagi tehnologije veriženja blokov sem uporabil <a href="https://sensei.lavbic.net" target="_blank"><i
            class="fa-solid fa-earth-europe"></i>Sensei verigo blokov</a>. S tem sem želel obiskovalcu spletne strani omogočiti, da lahko všečka spletno
            stran, to pa stori tako, da se najprej prijavi v svoj račun in nato nakaže nekaj sredstev iz njegove ETH denarnice v denarnico lastnika spletne aplikacije.
      </p>
      <p>
        Za <strong>prikaz podatkov o največkrat dodanih turističnih destinacij</strong> sem uporabil <a href="https://teaching.lavbic.net/api/docs/" target="_blank"><i
            class="fa-solid fa-earth-europe"></i>Platformo Teaching API</a>. S tem sem želel prijavljenemu uporabniku prikazati, katere destinacije so bile največkrat dodane
            na seznam in mu tako prihraniti čas pri iskanju najbolj priljubljenih destinacij. Uporabnik ima možnost izbire kategorije turističnih destinacij. Poleg
            tega pa ima možnost dodajanja svoje najljubše destinacije na seznam. Seznam ima dodatno <strong>kategorijo "ostalo"</strong>, kamor se doda destinacija, ki jo ročno dodaja
            uporabnik.
      </p>
      <!-- KONEC: Uporabljeni zunanji viri podatkov -->
    </div>
  </div>

  <div class="card text-center m-3 mb-4">
    <div class="card-header">
      <h4>
        <i class="fa-solid fa-pencil"></i>Master/detail načrtovalski vzorec
      </h4>
    </div>
    <div class="card-body">
      <!-- ZAČETEK: Master/detail načrtovalski vzorec -->
      <p class="mb-0">
        <i class="fa-solid fa-list-check me-1"></i>
        <strong>Prijavljeni uporabnik</strong> ima možnost <strong>izbire kategorije turističnih znamenitosti</strong>, ki jo želi pregledati. Na podlagi
        izbire se mu prikaže seznam <strong>10 največkrat dodanih turističnih destinacij</strong>, ki spadajo v izbrano kategorijo. Poleg tega ima možnost
        <strong>dodajanja svoje najljubše turistične destinacije</strong> na ta seznam. Odvisno od tega, ali je turistična destinacija že dodana na seznam ali ne,
          se mu izpiše besedilo, ki mu pove koliko uporabnikov je to destinacijo že dodalo na seznam oz. da je destinacijo prvi dodal on sam.
      </p>
      <!-- KONEC: Master/detail načrtovalski vzorec -->
    </div>
  </div>

  <div class="card text-center m-3">
    <div class="card-header">
      <h4>
        <i class="fa-solid fa-pencil"></i>Uporabljena tehnika za
        vizualizacijo podatkov
      </h4>
    </div>
    <div class="card-body">
      <!-- ZAČETEK: Uporabljeni zunanji viri podatkov -->
      <p class="mb-0">
        <i class="fa-solid fa-list-check me-1"></i>
        Za vizualizacijo sem uporabil <strong>črtni grafikon</strong>, ki ponazarja gibanje maksimalne in minimalne dnevne temperature.
        Poleg tega graf <strong>prekrivajo slikice</strong>, ki predstavljajo tip vreme za posamezen dan. Na ta način uporabniku omogočim, da na enem mestu vidi vremensko napoved za
        izbrani kraj in obdobje.
      </p>
      <!-- KONEC: Uporabljeni zunanji viri podatkov -->
    </div>
  </div>
</div>